.theme-buttons-div {
  position:fixed;
  overflow:auto;
  left:90%;
  top:3%;
  width:8%;
  height:10%;
  z-index:10;
  background: rgba(225, 225, 225, .8);
  text-align:center
}
.toc-buttons-div {
  position:fixed;
  overflow:auto;
  left:90%;
  top:65%;
  width:8%;
  height:30%;
  z-index:10;
  background: rgba(225, 225, 225, .8);
  text-align:center
}