/* style.css */
body {
    color: white;
    background-color: black;
    font-family:  "나눔바른고딕","NanumBarunGothic", "나눔고딕","NanumGothic", "sans-serif";
}
pre {
    font-family: "본모노", "BonMono", "D2Coding","나눔고딕코딩","NanumGothicCoding","monospace";
    white-space: pre-wrap;
    background-color:ligtgray;
}
em.keyword {
    font-weight: bold;
}
em.error {
    font-weight: bold;
    color:red;
}
em.fixed{
    font-weight: bold;
    color:green;
}
em.caption{
    font-weight: bold;
    font-size: large;
}
.plug-in:before {
    content: " ";
    border: 1px solid gray;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

span.nobreak {
    display:inline-block;
    white-space: nowrap;    
}
.note {
    font-weight: bold;
    font-style: oblique;
    color:lightgreen;
}
.error {
    color:red;
}
.tab {
    margin-left: 4rem;
}
.item, .description, .def{
	padding-left: 4rem;
	text-indent: -4rem;
}
a:link{
    color: cyan;
}
a:hover{
    color: yellow;
}
a:visited {
    color: rgba(255,120,255,1.0);
}
.code, .codepara{
    font-family: "D2Coding","나눔고딕코딩","NanumGothicCoding", "본모노", "BonMono",monospace;
    font-weight: thin;
}
.codepara{
	white-space:pre-wrap;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
}
div.code-error{
  color: rgba(0,100,255,1.0);
}

